<!DOCTYPE html>
<html>

<!-- Head -->
<%- include('./partials/head.ejs'); %>
<!-- End Head -->

<body>
    <div class="app">
        <div class="layout">
            <!-- Side Nav START -->
            <%- include('./partials/sidebar.ejs'); %>
            <!-- Side Nav END -->

            <!-- Page Container START -->
            <div class="page-container">
                <!-- Header START -->
                <%- include('./partials/header.ejs'); %>
                <!-- Header END -->

                <!-- Content Wrapper START -->
                <div class="main-content">
                    <div class="container-fluid">
                        <div class="container-fluid">
                            <div class="page-title" style="position: relative;">
                                <h4> Detail du programme </h4>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-block">
                                            <% if (results) { %>
                                                <h3> Affiche du Film </h3>
                                                <div class="grid__detail" >
                                                    <div class="image__block" >
                                                        <img style="width: 100%;" src="<%= results.poster_path %>" alt="<%= results.title %>">
                                                    </div>
                                                </div>   
                                                <h3> Scene du Film </h3>

                                                <div class="grid__detail" >
                                                    <div class="image__block" >
                                                        <img style="width: 100%;" src="<%= results.backdrop_path %>" alt="<%= results.title %>">
                                                    </div>
                                                </div>                  
                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="card">
                                        <div class="card-block">
                                            <% if (results) { %>
                                                <div class="grid__detail">
                                                    <div class="detail__block">
    
                                                        <div class="detail__movie" style="margin-bottom: 20px;">
                                                            <span> Titre du film : </span>
                                                            <h3 style="margin: 0;">  <%= results.title %> </h3>
                                                        </div>
    
                                                        <div class="detail__movie" style="margin-bottom: 20px;">
                                                            <span> Durée du film : </span>
                                                            <h3 style="margin: 0;">  <%= results.time %> </h3>
                                                        </div>
    
                                                        <div class="detail__movie release" style="margin-bottom: 20px;">
                                                            <span> Date de Creation : </span>
                                                            <h3 style="margin: 0;">  </h3>
                                                        </div>
                                                    </div>
                                                </div>
                                                    
                                                <div class="description" style="margin-top: 25px;">
                                                    <span> Description : </span>
                                                    <h4> <%= results.overview %> </h4>
                                                </div>                     
                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Content Wrapper END -->

                <!-- Footer START -->
                <%- include('./partials/footer.ejs'); %>
                <!-- Footer END -->

            </div>
            <!-- Page Container END -->

        </div>
    </div>

<%- include('./partials/script.ejs'); %>
<script>
    $(function () {
        let arrayDate = [];
        let release = "<%= results.release_date %>" 
        let year = release.slice(0,4);
        let month = release.slice(5, 7);
        let day = release.slice(8, 10);

        let timeMovie = release.slice(11, 16);
        let fullDate = [day, month, year].join('-');
        $('.release h3').html(fullDate + ' à ' + timeMovie);
    })
</script>
    <!-- page js -->

</body>

</html>